<footer>
        <div class="container">
            <h2>Partner with Cognopia and Start Building Your Success Today.</h2>
            <p>If your organisation is struggling to get to grips with the way Asian customers buy, speak with us and we can help design a go-to-market strategy that will accelerate your growth across the region.</p>
            <input class="btn" type="button" name="button" value="GET IN TOUCH WITH US" ></input>
        </div>
        <div id="copyright">
            <p>Copyright © 2017 Cognopia Pte Ltd. All rights reserved.</p>
        </div>
    </footer>
