 <header>
        <div class="container">
            <div id=logo>
              <a href="{{site.baseurl}}/">  <img src="{{site.baseurl}}/img/cognopia-logo.png"></a>
            </div>
            {% include mobile.html %}
            <div id="unordered-list">
                <ul>
                    <li>
                        <span><img src="{{site.baseurl}}/img/decades.png" alt="img"></span>
                        <span id="UL-span1">Decades of experience</span>
                    </li>
                    <li>
                        <span><img src="{{site.baseurl}}/img/knowledge.png" alt="img" id="globe"></span>
                        <span id="UL-span">Knowlegeble to business across world</span>
                    </li>
                </ul>
            </div>
            <div id="links">
                <a href="{{site.baseurl}}/news/">News</a>
                <a href="{{site.baseurl}}/index.html">Contact Us</a>
            </div>
        </div>
    </header>
